<div id="ea-notification-container">
</div>
<div class="container">
	<!-- Top Navigation -->
	<div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="https://github.com/rajasegar/ember-awesome-notifications"><span>Github</span></a>
		<a class="codrops-icon codrops-icon-drop" href="docs"><span>Documentation</span></a>
	</div>
	<header class="codrops-header">
		<h1>Ember Awesome Notifications <span>Simple ideas &amp; effects for Ember notifications</span></h1>
	</header>
	<div class="main clearfix">
    {{outlet}}
	</div>
	
</div><!-- /container -->
